/* Navbar */
.navbar-brand {
	font-family: Viga;
	font-size: 32px;
}

/* jumbotron */
.jumbotron {
	background-image: url(img/11.jpg);
	background-size: cover;
	height: 540px;
	text-align: center;
}

.jumbotron .display-4{
	color: white;
	margin-top: 200px;
	font-weight: 200;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
	font-size: 40px;
	margin-bottom: 30px;
}

.jumbotron .display-4 span {
	font-weight: 500;
}

/* footer */
.page-footer {
	margin-top: 100px;
	width: 100%; 
	height: 150px;
	padding-top: 20px;
	background-color: #088A29;
	color:white;
}

/* info panel */
.info-panel{
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
	border-radius: 12px;
	margin-top: -100px;
	background-color: white;
	padding: 30px;
}

.info-panel img {
	width: 80px;
	height: 80px;
	margin-right: 10px;
	margin-bottom: 20px;
}

.info-panel h4 {
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 5px;

}

.info-panel p {
	font-size: 14px;
	color: #ACACAC;
	margin-top: -5px;
	font-weight: 200;
}

/* planner home */
.plan {
	margin-top: 120px;
}
.plan img {
	border-radius: 15px;
}
.plan h3{
	font-size: 52px;
	text-transform: uppercase;
	margin-top: 30px;
}
.plan p{
	font-size: 18px;
	color: #ACACAC;
	font-weight: 200;
	margin: 30px 0;
}

/* latihan home */
.latihan {
	margin-top: 100px;
}
.latihan img {
	border-radius: 10px;
}
.latihan h3 {
	font-size: 40px;
	font-weight: 200;
	text-transform: uppercase;
	margin-top: 30px;
}
.latihan span{
	font-weight: 400;
}
.latihan p{
	font-size: 18px;
	color: #ACACAC;
	margin: 20px 0;
}

/* testimoni */

.carousel-item img {
	width: 300px;
	height: 300px;
	size: cover;
	margin-top: 100px;
}

/* utility */
.tombol {
	text-transform: uppercase;
	border-radius: 40px;
	background-color: white;
	color: green;
}

.tomboll {
	text-transform: uppercase;
	border-radius: 40px;
}

/* log in */

.card {
	margin-left: 350px;
	margin-top: 100px;
}

/* DAFTAR */
.card-daftar {
	margin-left: 350px;
	margin-top: 150px;

}
.btn-daftar {
	margin-left: 525px; 
}

/* Latihan Soal fitur */

.card-lat {
	margin-left: 30px;
	margin-top: 150px;
	border-radius: 20px;
	margin-bottom: -50px;
}


/* soal */
.soal {
	margin-left: -325px;
}
.soall {
	margin-left: -820px;
}
.form-check{
	margin-left: 19px;
}
.btn-soal{
	margin-left: 600px;
}


/* planner */

.plankal iframe{
	margin-left: 125px;
	margin-top: 150px;
}
.planner {
	margin-left: 125px;
}

/* profil */
.card-profil img{
	margin-left: 175px;
}
.btn-profil{
	margin-top: 50px;
}
.btn-prf{
	margin-left: 450px;
}
/* tambah edit rencana */
.btn-ter {
	margin-top: 100px;
}
.btn-terr {
	margin-left: 235px;
}
.card-te{
	margin-left: 300px;
	margin-top: 150px;
}

/* materi */
.card-c {
  margin-left: 525px;
  margin-top: 20px;
}
/* desktop */
@media (min-width: 992px) {
.navbar-brand, .nav-link {
color: white !important ;
text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}
.nav-link {
	text-transform: uppercase;
	margin-right: 30px;
	}

.nav-link:hover::after {
	content: '';
	display: block;
	border-bottom: 3px solid white;
	width: 50%;
	margin: auto;
	padding-bottom: 5px;
	margin-bottom: -8px;
	}
.jumbotron {
	margin-top: -75px;
	height: 640px;
}
.jumbotron .display-4 {
	font-size: 62px;
}
}


